.list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-left: 50px;
}
.item {
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  width: 200px;
  box-shadow: 1px 1px 5px black;
  background-color: rgb(244, 236, 222);
}
.loading {
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(135, 135, 244);
}
.error {
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}
